html,
body {
    height: 100%;

}

.error_text{
    color: red;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}

#table_count{
    visibility: hidden;
}

#table_count td{
    border: 2px solid black;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia;
    min-width: 200px;
    text-align: center;
}

#counting_tbl{
    border: 2px solid black;
    margin-top: 20px;
}

.update_content{

    padding: 100px;
    padding-top: 0;
}

#calculation_button{
    min-width: 300px;
    font-size: 30px;
    background-color: #1b1e21;
    border: 0px;
    height: 60px;
}

#calculation_button:hover{

    background-color: darkgoldenrod;

}


.btn-file {
    position: relative;
    font-size: 30px;
    background-color: #1b1e21;
    border: 0px;
}

.btn-file:hover{
    background-color: darkblue;

}

.btn-file input{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.icon_upload{
    font-size: 170px;
    text-align: center;
    color: darkgoldenrod;
    margin-left: -5px;
}

aside{
    background-color: black;
    text-align: center;
}
#buttons{
    margin-bottom: 50px;
    margin-top: 20px;
}

#create_button{
    font-size:30px;
    border: 0px;
    min-width: 350px;
    background-color: #4d4d4d;
}

#create_button:hover{
    background-color: darkgreen;
}

#pdf_btn{
    font-size: 30px;
    background-color: #4d4d4d;
    border: 0px;
    min-width: 350px;
}
#pdf_btn:hover{
    background-color: darkred;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-top: 50px;
}

.jumbotron .btn {
    font-size: 41px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
